@import '../../styles/colors.scss';

.dialogsList {
    width: 250px;
    border-right: 1px solid $dark-gray;

    .search {
        padding: 9px 10px;

        input {
            padding: 5px 10px;
            border-radius: 8px;
            background-color: $dark-gray;
            border: none;
            width: 100%;
        }
    }
}