@import '../../styles/colors.scss';

.loginForm {
    padding: 20px;

    h2 {
        margin-bottom: 20px;
    }

    h3 {
        margin: 15px 0 10px 0;
    }

    input[type="text"],
    input[type="password"] {
        max-width: 350px;
    }

    img {
        height: 100px;
        margin-bottom: 10px;
    }

    .checkbox {
        margin-top: 20px;
        display: flex;
        align-items: center;

        p {
            margin-left: 10px;
        }
    }

    .formError {
        margin-top: 20px;
        color: $red;
    }
}
