.profile-page {
    header {
        border-radius: 10px 10px 0 0;
        display: flex;
        align-items: center;
        background-color: $second-color;
        color: #fff;
        padding: 20px;
        z-index: 2;

        img {
            height: 100px;
            width: 100px;
            object-fit: cover;
            margin-right: 15px;
            border-radius: 50%;
        }
        
        h1 {
            font: 22px bold;
        }

        p, input {
            margin-top: 10px;
            border-radius: 0;
            padding: 5px 0;
        }

        p {
            color: $light-gray;
            cursor: pointer;

            &:hover {
                background-color: $dark-gray;
            }
        }
    }

    .posts {
        display: flex;
        flex-direction: column-reverse;
    }
}