@import "colors.scss";
@import "/src/components/header/Header.scss";
@import "/src/pages/profile/Profile.scss";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500&display=swap");

* {
    font-family: "Ubuntu", sans-serif !important;
}

body {
    background-color: $bg-color;
    color: #fff;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: 10px;
}

.main-section {
    background-color: $second-color;
    border-radius: 8px;
    width: 100%;
}

.mt10 {
    margin-top: 10px;
}

.mt20 {
    margin-top: 20px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb20 {
    margin-bottom: 20px;
}

input,
textarea {
    background-color: $dark-gray;
    border: none;
    color: #fff;
    border-radius: 1em;
    padding: 5px 15px;
    border: 1px solid $dark-gray;
}

h1 {
    font-size: 30px;
    font-weight: bold;
}

h2 {
    font-size: 22px;
    font-weight: bold;
}

.btn {
    background-color: $main-color;
    color: #fff;
    border-radius: 5px;
    padding: 7px 15px;

    &:hover {
        background-color: $main-color-dark;
    }
}

.pageHeader {
    position: sticky;
    top: 0;
    padding: 20px;
    z-index: 2;
}

.errorInput {
    position: relative;

    textarea,
    input {
        position: relative;
        border: 1px solid $red;
    }
    span {
        color: $red;
        border: 1px solid $red;
        top: 110%;
        left: 0;
        background-color: #fff;
        padding: 5px;
        margin-left: 10px;
        border-radius: 10px;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            left: -10px;
            top: 50%;
            transform: translateY(-50%);
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 5px 10px 5px 0;
            border-color: transparent #ffffff transparent transparent;
        }
    }
}

::placeholder {
    color: #b6b6b6;
}
