@import 'colors.scss';
@import '/src/components/header/Header.scss';
@import '/src/pages/profile/Profile.scss';
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500&display=swap');

* {
    font-family: 'Ubuntu', sans-serif !important;
}

body {
    background-color: $bg-color;
    color: #fff;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: 10px;
}

.main-section {
    background-color: $second-color;
    border-radius: 8px;
    width: 100%;
}

.mt10 {
    margin-top: 10px;
}

.mt20 {
    margin-top: 20px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb20 {
    margin-bottom: 20px;
}

input, textarea {
    background-color: $dark-gray;
    border: none;
    color: #fff;
    border-radius: 1em;
    padding: 5px 15px;
}

h1 {
    font-size: 30px;
    font-weight: bold;
}

h2 {
    font-size: 22px;
    font-weight: bold;
}

.btn {
    background-color: $main-color;
    color: #fff;
    border-radius: 5px;
    padding: 7px 15px;
    
    &:hover {
        background-color: $main-color-dark;
    }
}

::placeholder {
    color: #b6b6b6;
}
