.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: $main-color;
    z-index: 2;

    img {
        height: 25px;
    }
    
    > div {
        max-width: 1030px;
        padding: 0 15px;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;
        display: flex;
        
        div,
        a {
            color: #fff;
            font-size: 20px;
            padding: 15px;
            
            span {
                margin-left: 10px;
            }
        }

        a {
            font-size: 15px;
            height: 54px;
            display: flex;
            align-items: center;
        }

        div {
            display: flex;
            align-items: center;
            padding: 15px 10px;
            cursor: default;
        }
    }

    a:hover {
        background-color: rgba($color: #000000, $alpha: .1);
    }
}