.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: $main-color;
    z-index: 3;

    img {
        height: 25px;
    }

    > div {
        max-width: 1030px;
        padding: 0 15px;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;
        display: flex;

        div,
        a,
        button {
            color: #fff;
            padding: 15px;

            span {
                font-size: 20px;
                margin-left: 10px;
            }
        }

        button,
        a {
            font-size: 15px;
            height: 54px;
            display: flex;
            align-items: center;
        }

        div {
            display: flex;
            align-items: center;
            padding: 15px 10px;
            cursor: default;
        }
    }

    button:hover,
    a:hover {
        background-color: rgba($color: #000000, $alpha: 0.1);
    }
}
