@import '../../styles/colors.scss';

.navbar {
    width: 200px;

    a {
        display: block;
        padding: 10px 15px;
        cursor: pointer;
        background-color: $second-color;
        color: #fff;
        margin-bottom: 10px;
        border-radius: 7px;
        font-size: 17px;

        span {
            margin-left: 10px;
        }

        &:hover {
            background-color: #4d4d4d;
            color: #fff;
        }
    }

    .active {
        background-color: $dark-gray;
        color: #fff;
        
        &:hover {
            background-color: $dark-gray;
        }
    }
}