@import '../../styles/colors.scss';

.dialogWindow {
    height: calc(100vh - 74px);
    position: relative;
    width: 100%;
    overflow-y: scroll;
    border-radius: 0 8px 8px 0;

    .dialogHeader {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        padding: 15px;
        border-bottom: 1px solid $dark-gray;
        background-color: $second-color;
    }

    .dialogField {
        height: 100%;
        padding: 60px 10px 70px 10px;
        display: flex;
        flex-direction: column;
    }

    .inputBox {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        padding: 15px;
        border-top: 1px solid $dark-gray;
        background-color: $second-color;

        textarea {
            padding: 5px 60px 5px 15px;
            height: 30px;
            width: 100%;
            resize: none;
        }

        button {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 15px;
            padding: 10px;
            color: #fff;
        }
    }
}