@import './../../styles/colors.scss';

.form {
    position: relative;
    margin-top: 10px;

    textarea {
        width: 100%;
        resize: none;
        padding: 10px 100px 10px 10px;
        font-size: 17px;
    }

    button {
        position: absolute;
        right: 10px;
        top: 50%;
        margin-left: 10px;
        color: #fff;
        transform: translateY(-50%);
        background-color: $main-color;
        border-radius: 15px;
        font-size: 15px;
        height: 40px;
        width: 80px;

        &:hover {
            background-color: $main-color-dark;
        }
    }
}