@import '../../styles/colors.scss';

.form {
    position: relative;
    background-color: $second-color;
    padding: 0 15px 15px 15px;
    border-radius: 0 0 10px 10px;

    textarea {
        width: 100%;
        resize: none;
        padding: 10px 100px 10px 10px;
        font-size: 17px;
    }

    button {
        position: absolute;
        right: 25px;
        top: 9px;
        margin-left: 10px;
        color: #fff;
        background-color: $main-color;
        border-radius: 15px;
        font-size: 15px;
        height: 40px;
        width: 80px;

        &:hover {
            background-color: $main-color-dark;
        }
    }
}