@import '../../styles/colors.scss';

.pagePagination {
    text-align: center;
    margin-top: 10px;
    
    button {
        color: #fff;
        margin: 0 2px;
        border-radius: 5px;

        &:hover {
            background-color: $main-color-dark;
        }
    }

    .selectedPage {
        background-color: $main-color;
    }
}